---
breadcrumb: PCF Dev Documentation
title: Advanced Usage of PCF Dev
owner: PCF Dev
---

## <a id="memory"></a> Memory and CPU

By default, PCF Dev will try to allocate half of the memory available on your host machine, with a minimum of 3GB and a maximum of 4GB.

Set the `-m` flag to `cf dev start` to change the allocated memory. This value is in megabytes.

PCF Dev will try to use all physical, non-hyperthreaded host cores. Set the `-c` flag to the `cf dev start` command to change this behavior.

## <a id="aws"></a> AWS

We provide experimental support for deploying PCF Dev to AWS. Note that PCF Dev is not a secure distribution of PCF -- you must manage access to PCF Dev within AWS.

To use PCF Dev with AWS, you must have [Vagrant](https://www.vagrantup.com) and the [Vagrant AWS plugin](https://github.com/mitchellh/vagrant-aws) installed.

PCF Dev AWS kits are available on the Pivotal Network. More documentation is forthcoming.
