---
breadcrumb: PCF Dev Documentation
title: PCF Dev on AWS (Experimental)
owner: PCF Dev
---

Pivotal provides experimental support for deploying PCF Dev to AWS for Pivotal employees. Please contact us on Slack for more information.

<p class="note"><strong>Note</strong>: PCF Dev is not a secure distribution of Pivotal Cloud Foundry. If you deploy PCF Dev to AWS, you must manage access to PCF Dev within AWS.</p>

To use PCF Dev with AWS, you must have [Vagrant](https://www.vagrantup.com) and the [Vagrant AWS plugin](https://github.com/mitchellh/vagrant-aws) installed.
