---
breadcrumb: PCF Dev Documentation
title: Frequently Asked Questions
owner: PCF Dev
---

## <a id="ssl_cert"></a> Why do I receive a "Invalid SSL Cert" error?

<pre class='terminal'>
$ cf api api.local.pcfdev.io
Setting api endpoint to api.local.pcfdev.io...
FAILED
Invalid SSL Cert for api.local.pcfdev.io
TIP: Use 'cf api --skip-ssl-validation' to continue with an insecure API endpoint
</pre>

PCF Dev comes with a self-signed SSL certificate for its API. The self-signed SSL certificate causes an `Invalid SSL Cert` error when using the cf CLI. To avoid the error, use the `--skip-ssl-validation` option.



## <a id="host"></a> How can I connect apps running in PCF Dev to services running on my workstation?

PCF Dev provides a special hostname for addressing the host from inside of application containers.
If the PCF Dev system domain is `local.pcfdev.io`, then the host will be routable at `host.pcfdev.io`.
If the system domain is `local2.pcfdev.io`, the host will be routable at `host2.pcfdev.io`, and so on.
Services running on the host must be listening on all network interfaces (not just `localhost`) for apps to access them.

<p class="note"><strong>Note</strong>: Using <code>localhost</code> inside of app containers will not refer to your workstation.</p>

## <a id="memory"></a> How can I customize the memory and CPU count used by the PCF Dev VM?

By default, PCF Dev tries to allocate half of the memory available on your host machine, with a minimum of 3GB and a maximum of 4GB.

To change the allocated memory, run the following command, replacing `NEW-ALLOCATED-MEMORY` with the amount of memory you want to allocate in megabytes:
<pre class="terminal">$ cf dev start -m NEW-ALLOCATED-MEMORY</pre>

By default, PCF Dev tries to use all physical, non-hyperthreaded host cores. To change this setting, run the following command, replacing DESIRED-NUMBER-OF-CORES with the number of processor cores PCF Dev should use:
<pre class="terminal">$ cf dev start -c DESIRED-NUMBER-OF-CORES</pre>

## <a id="security_groups"></a> How are Application Security Groups (ASGs) configured in PCF Dev?

Unlike PCF, PCF Dev allows applications to access all private address ranges without the need for additional ASGs.
This is because PCF Dev is considered a trusted, local environment.
You can remove the `all_pcfdev` security group:

<pre class='terminal'>
$ cf unbind-running-security-group all_pcfdev
Unbinding security group all_pcfdev from defaults for running as admin
OK
TIP: Changes will not apply to existing running applications until they are restarted.
$ cf unbind-staging-security-group all_pcfdev
Unbinding security group all_pcfdev from defaults for staging as admin
OK
TIP: Changes will not apply to existing running applications until they are restarted.
</pre>