---
breadcrumb: PCF Dev Documentation
title: Using a Local OVA with PCF Dev
owner: PCF Dev
---
<p class="note"><strong>Note</strong>: This functionality is not supported in the current version of PCF Dev. Please use version 0.30 for PCF 1.11 or earlier</p>
This topic describes how to use PCF Dev with a local Open Virtualization Appliance (OVA). By default, PCF Dev tries to download a pre-determined OVA at startup. You can configure PCF Dev to import an OVA instead when Internet access is restricted.

1. Run `cf dev version` to determine the OVA version of your PCF Dev installation.

	<pre class="terminal">
	$ cf dev version
	PCF Dev version 0.19.0 (CLI: 27d4cda, OVA: 0.234.0)
	</pre>

	This command outputs the CLI and OVA version and the Git SHA of the CLI. In this example, the OVA version is `0.234.0`.

1. Download the OVA file.

	OVA files are available on the <a href="https://network.pivotal.io/products/pcfdev#/releases/1622">Pivotal Network</a>. To download the OVA, click on the corresponding file in the release, for example `pcfdev-v0.234.0.ova`. You must be signed in and accept the EULA to download the OVA.

1. Run `cf dev import PATH-TO-OVA-FILE` to import the OVA file. Replace PATH-TO-OVA-FILE with the path to your downloaded OVA file.

	<pre class="terminal">
	$ cf dev import ~/Downloads/pcfdev-v0.234.0.ova
	OVA version 0.234.0 imported successfully.
	</pre>

	This command copies the OVA file into your `$PCFDEV_HOME` directory. You can only import the version of the OVA that corresponds to the version of your PCF Dev CLI plugin. All other OVAs are deleted.

1. Run `cf dev start`.
