---
breadcrumb: PCF Dev Documentation
title: PCF Dev Overview
owner: PCF Dev
---

<strong><%= modified_date %></strong>

This guide describes how to install and use PCF Dev, a lightweight Pivotal Cloud Foundry (PCF) installation that runs on a single virtual machine (VM) on your workstation. PCF Dev is intended for application developers who want to develop and debug their applications locally on a PCF deployment.

PCF Dev includes Pivotal Elastic Runtime, Redis, RabbitMQ, and MySQL. It also supports all cf CLI functionality. See the [Comparing PCF Dev to Pivotal Cloud Foundry](#comparison-to-pcf) table below for more product details.

## <a id="prerequisites"></a>Prerequisites ##

* [VirtualBox: 5.0+](https://www.virtualbox.org/): PCF Dev uses VirtualBox as its virtualizer.
* The latest version of the [cf CLI](http://docs.pivotal.io/pivotalcf/cf-cli/install-go-cli.html): Use the cf CLI to push and scale apps.
* You must have an Internet connection for DNS. See <a href="./work-offline.html">Using PCF Dev Offline</a> if you do not have an Internet connection.
* At least 3 GB of available memory on your host machine. Pivotal recommends running on a host system with at least 8 GB of total RAM.

## <a id="installing"></a>Installing PCF Dev ##

* <a href="./install-osx.html">Installing PCF Dev on Mac OS X</a>
* <a href="./install-linux.html">Installing PCF Dev on Linux</a>
* <a href="./install-windows.html">Installing PCF Dev on Microsoft Windows</a>

## <a id="using-pcf-dev"></a>Using PCF Dev ##

* <a href="./usage.html">Using PCF Dev</a>
* <a href="./dev-services.html">Using Services in PCF Dev</a>
* <a href="./proxy.html">Using PCF Dev Behind a Proxy</a>
* <a href="./work-offline.html">Using PCF Dev Offline</a>
* <a href="./aws.html">PCF Dev on AWS</a>
* <a href="./faq.html">Frequently Asked Questions</a>

## <a id="comparison-to-pcf"></a>Comparing PCF Dev to Pivotal Cloud Foundry

PCF Dev mirrors [PCF](http://docs.pivotal.io/pivotalcf/installing/pcf-docs.html) in its key product offerings. If an application runs on PCF Dev, it runs on PCF with no modification in almost all cases. Review the table below for key product details.

|                                                                           | PCF Dev                    | PCF                                   | CF            |
| ---                                                                       | ---                        | ---                                   | ---           |
| Space required                                                            | 20 GB                      | 100GB+                                | 50GB+         |
| Memory required                                                           | 3 GB                       | 50GB+                                 | variable      |
| Deployment                                                                | `cf dev start`             | Ops Manager                           | `bosh deploy` |
| Estimated time-to-deploy                                                  | 10 Minutes                 | Hour+                                 | Hour+         |
| Out-of-the-Box Services                                                   | Redis<br>MySQL<br>RabbitMQ | Redis<br>MySQL<br>RabbitMQ<br>GemFire | N/A           |
| Elastic Runtime                                                           | ✓                          | ✓                                     | ✓             |
| Logging/Metrics                                                           | ✓                          | ✓                                     | ✓             |
| Routing                                                                   | ✓                          | ✓                                     | ✓             |
| Compatible with CF CLI                                                    | ✓                          | ✓                                     | ✓             |
| Deploy apps with any supported buildpack                                  | ✓                          | ✓                                     | ✓             |
| Supports Multi-Tenancy                                                    | ✓                          | ✓                                     | ✓             |
| Diego Support                                                             | ✓                          | ✓                                     | ✓             |
| Docker Support                                                            | ✓                          | ✓                                     | ✓             |
| DEA Support                                                               |                            | ✓                                     | ✓             |
| User-Provided Services                                                    | ✓                          | ✓                                     | ✓             |
| High Availability                                                         |                            | ✓                                     | ✓             |
| Integration with 3rd party Authorization                                  |                            | ✓                                     | ✓             |
| Bosh Director<br>(i.e., can perform additional BOSH deployments)           |                            | ✓                                     | ✓             |
| Day Two Lifecycle Operations<br>(e.g., rolling upgrades, security patches) |                            | ✓                                     | ✓             |
| Ops Manager                                                               |                            | ✓                                     |               |
| Apps Manager                                                              | ✓                          | ✓                                     |               |
| Tile Support                                                              |                            | ✓                                     |               |
| Developers have root-level access across cluster                          | ✓                          |                                       |               |
| Pre-provisioned                                                           | ✓                          |                                       |               |
| Does not depend on BOSH                                                   | ✓                          |                                       |               |
