---
breadcrumb: PCF Dev Documentation
title: Installing PCF Dev on Linux
owner: PCF Dev
---

## <a id="prerequisites"></a>Prerequisites 

### <a id="virtualbox"></a>VirtualBox 

PCF Dev uses [VirtualBox](https://www.virtualbox.org) version 5.0 and above as its virtualizer.

1. Download VirtualBox for your Linux distribution [here](https://www.virtualbox.
org/wiki/Linux_Downloads).

1. Install the downloaded package using the package manager for your distribution.

### <a id="vagrant"></a>Vagrant

PCF Dev uses [Vagrant](https://www.vagrantup.com/downloads.html) version 1.8.0 and above to run its development environment.

1. Download Vagrant for your Linux distribution [here](https://www.vagrantup.com/downloads.html).

1. Install the downloaded package using your distribution's package manager.

### <a id="cf-cli"></a>Cloud Foundry Command Line Interface 

PCF Dev uses the [Cloud Foundry command line interface](https://github.com/cloudfoundry/cli) to push and scale apps.

1. Download the cf CLI for your Linux distribution [here](https://github.
com/cloudfoundry/cli#downloads). If you previously used the cf CLI v5 Ruby gem, uninstall this gem first.

1. Install the downloaded package using your distribution's package manager.

1. To verify your installation, open a terminal window and enter `cf` at the prompt. If your installation was successful, the cf CLI help listing appears.

## <a id="install -pcf-dev"></a>Install PCF Dev
To install PCF Dev, follow the steps below:

1. Download the latest version of PCF Dev from the [Pivotal Network](https://network.pivotal.io/)

1. Unzip the downloaded zip file.
<pre class="terminal">$ unzip pcfdev-VERSION.zip</pre>
1. Navigate into the unzipped directory.
<pre class="terminal">$ cd pcfdev-VERSION</pre>
1. Run `vagrant up` in your terminal.
<pre class="terminal">$ vagrant up</pre>

## <a id="stopping"></a>Stopping PCF Dev 

To temporarily stop PCF Dev, perform the following steps:

1. Open a terminal or command prompt and navigate to the pcfdev-<VERSION> folder.
1. Execute `vagrant halt`.

<p class='note'><strong>Note</strong>: Use the start script to resume the PCF Dev instance.</p>

## <a id="uninstall"></a>Uninstalling PCF Dev 

To permanently destroy PCF Dev:

1. Open a terminal or command prompt and navigate to the pcfdev-<VERSION> folder.
1. Execute `vagrant destroy`.
