---
breadcrumb: PCF Dev Documentation
title: Installing PCF Dev on Microsoft Windows 10
owner: PCF Dev
---
<p class="note"><strong>Note</strong>: If you would like to run PCF Dev on Windows withouth Hyper-V - please follow these <a href="./install-windows-legacy.html">instructions</a></p>
## <a id="prerequisites"></a>Prerequisites

### <a id="virtualbox"></a>Hyper-V

PCF Dev uses Hyper-V on Windows 10 to run on native hypervisors.

1. Use this tutorial from Microsoft to enable Hyper-V on your machine before starting PCF Dev - https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/quick-start/enable-hyper-v

### <a id="cf-cli"></a>Cloud Foundry Command Line Interface

PCF Dev uses the [Cloud Foundry Command Line Interface](https://github.com/cloudfoundry/cli) (cf CLI) to push and scale apps.

1. To install the cf CLI for Windows (64 bit), download it [here](https://cli.run.pivotal.io/stable?release=windows64&source=github-rel). If you previously used the cf CLI v5 Ruby gem, uninstall this gem first.

1. Unpack the zip file and open the `cf_installer` application.

1. Follow the installer wizard to install.

1. To verify your installation, open a terminal window and enter `cf`. If your installation was successful, the cf CLI help listing appears.

## <a id="install-pcf-dev"></a>Install PCF Dev

1. Download the latest version of PCF Dev from the [Pivotal Network](https://network.pivotal.io/).
1. In PowerShell, install the CF Dev plugin required to run PCF Dev
<pre class="terminal">$ cf install-plugin cfdev</pre>
1. Start PCF Dev:
<pre class="terminal">$ cf dev start -f <.iso file download></pre>
  It may take several minutes for the PCF Dev virtual machine (VM) and its services to start.
<p class="note"><strong>Note</strong>: You must run PowerShell in Administrator mode with PCF Dev.</p>
After the **PCF Dev is now running** banner appears, you can [log in](./usage.html#pcf-dev).


## <a id="stopping"></a>Stop PCF Dev

To temporarily stop PCF Dev, run the following command:

<pre class="terminal">$ cf dev stop</pre>

## <a id="uninstall"></a>Uninstall PCF Dev

To remove PCF Dev, run the following command:

<pre class="terminal">$ cf uninstall-plugin cfdev</pre>
