---
breadcrumb: PCF Dev Documentation
title: Installing PCF Dev on Linux
owner: PCF Dev
---

<p class="note"><strong>Note</strong>: The current version of PCF Dev does not support Linux. Linux is only supported in PCF Dev v0.30 or earlier.</p>

This topic describes how to install PCF Dev on Linux.

## <a id="prerequisites"></a>Prerequisites

### <a id="virtualbox"></a>VirtualBox

PCF Dev uses [VirtualBox](https://www.virtualbox.org) v5.0 and above as its virtualizer.

1. Download VirtualBox for your Linux distribution from [VirtualBox](https://www.virtualbox.org/wiki/Linux_Downloads).

1. Install the downloaded package using the package manager for your distribution.

### <a id="cf-cli"></a>Cloud Foundry Command Line Interface

PCF Dev uses the [Cloud Foundry Command Line Interface](https://github.com/cloudfoundry/cli) (cf CLI) to push and scale apps.

1. Download the cf CLI for your Linux distribution from the [cf CLI repository in GitHub](https://github.com/cloudfoundry/cli#downloads). If you previously used the cf CLI v5 Ruby gem, uninstall this gem first.

1. Install the downloaded package using the package manager for your distribution.

1. To verify your installation, open a terminal window and enter `cf` at the prompt. If your installation was successful, the cf CLI help listing appears.

## <a id="install-pcf-dev"></a>Install PCF Dev

1. Download PCF Dev v0.30 from the [Pivotal Network](https://network.pivotal.io/).
1. Unzip the downloaded zip file:
<pre class="terminal">$ unzip pcfdev-VERSION-linux.zip</pre>
1. Install the PCF Dev plugin:
<pre class="terminal">$ ./pcfdev-VERSION-linux</pre>
1. Start PCF Dev:
<pre class="terminal">$ cf dev start</pre>
  It may take several minutes for the PCF Dev VM and its services to start.
<p class="note"><strong>Note</strong>: You may be prompted to continue if your available memory is less than the recommended amount.</p>

1. If prompted, enter your API token. This token is required for authentication and appears at the bottom of the **Edit Profile** tab in your [Pivotal Network account](https://network.pivotal.io/users/dashboard/edit-profile).
<p class="note"><strong>Note</strong>: The API token does not appear in the terminal session when you enter it.</p>

After the **PCF Dev is now running** banner appears, you can [log in](./usage.html#pcf-dev).


## <a id="stopping"></a>Stop PCF Dev

To temporarily stop PCF Dev, run the following command:

<pre class="terminal">$ cf dev stop</pre>

## <a id="uninstall"></a>Uninstall PCF Dev

To destroy the PCF Dev VM, run the following command:

<pre class="terminal">$ cf dev destroy</pre>

To remove PCF Dev, run the following command:

<pre class="terminal">$ cf uninstall-plugin pcfdev</pre>
