---
breadcrumb: PCF Dev Documentation
title: Installing PCF Dev on Mac OS X
owner: PCF Dev
---

This topic describes how to install PCF Dev on Mac OS X.

## <a id="prerequisites"></a>Prerequisites

### <a id="cf-cli"></a>Cloud Foundry Command Line Interface

PCF Dev uses the [Cloud Foundry Command Line Interface](https://github.com/cloudfoundry/cli) (cf CLI) to push and scale apps.

1. [Download](https://cli.run.pivotal.io/stable?release=macosx64&source=github) the cf CLI for Mac OS X (64 bit). If you previously used the cf CLI v5 Ruby gem, you must uninstall the gem first.

1. Open the `.pkg` file.

1. In the installer wizard, click **Continue**.

1. Select an install destination and click **Continue**.

1. When prompted, click **Install**.

1. To verify your installation, open a terminal window and enter `cf`. If your installation was successful, the cf CLI help listing appears.

## <a id="install-pcf-dev"></a>Install PCF Dev

1. Download the latest version of PCF Dev from the [Pivotal Network](https://network.pivotal.io/).
1. Install the CF Dev plugin required to run PCF Dev:
<pre class="terminal">$ cf install-plugin cfdev</pre>
1. Start PCF Dev. Enter the following command, replacing `.FILE` with the name of the .iso or .tgz file you downloaded:

	```
	cf dev start -f .FILE
	```
  It may take several minutes for the PCF Dev VM and its services to start.

After the **PCF Dev is now running** banner appears, you can [log in](./usage.html#pcf-dev).


## <a id="stopping"></a>Stop PCF Dev

To temporarily stop PCF Dev, run the following command:

<pre class="terminal">$ cf dev stop</pre>

## <a id="uninstall"></a>Uninstall PCF Dev

To remove CF Dev, run the following command:

<pre class="terminal">$ cf uninstall-plugin cfdev</pre>
