---
breadcrumb: PCF Dev Documentation
title: Getting Started with PCF Dev 
owner: PCF Dev
---


## <a id="configuration"></a>Configuring PCF Dev 

Set the following environment variables to customize your PCF Dev deployment:

* `PCFDEV_IP` sets the IP address where PCF Dev deploys VMs. It defaults to `192.168.11.11` locally, or to the assigned public IP if you are using Amazon Web Services (AWS).
* `PCFDEV_DOMAIN` sets an alternate alias for the system routes. It defaults to `local.pcfdev.io` when deploying locally, and to `PCFDEV_IP.xip.io` on AWS or if `PCFDEV_IP` is set.
* `VM_CORES` (local only) sets the number of CPU cores to allocate on the Guest VM. It defaults to host number of logical CPUs.
* `VM_MEMORY` (local only) sets the number of megabytes to allocate on the Guest VM. It defaults to 25% of host memory.

## <a id="installing"></a>Installing PCF Dev ##
1. Download the latest version of PCF Dev from the [Pivotal Network](https://network.pivotal.io/products/pcfdev).
1. Unzip the downloaded zip file.
1. Navigate into the unzipped directory.
1. Execute the following command in a terminal window:
	* **Mac**: `./start-osx`
	* **Windows**: `.\start-windows.ps1` (PowerShell)
	* **Linux**: `vagrant up`

## <a id="stopping"></a>Stopping PCF Dev 

To temporarily stop PCF Dev, perform the following steps:

1. Open a terminal or command prompt and navigate to the pcfdev-<VERSION> folder.
1. Execute the following command in a terminal window:
	* **Mac**: `./stop-osx` 
	* **Windows**: `.\stop-windows.ps1` (PowerShell) 
	* **Linux**: `vagrant halt`

<p class='note'><strong>Note</strong>: Use the start script to resume the PCF Dev instance.</p>

## <a id="uninstall"></a>Uninstalling PCF Dev 

To permanently destroy PCF Dev:

1. Open a terminal or command prompt and navigate to the pcfdev-<VERSION> folder.
1. Execute the following command in a terminal window:
	* **Mac**: `./destroy-osx` 
	* **Windows**: `.\destroy-windows.ps1` (PowerShell) 
	* **Linux**: `vagrant destroy`

