---
breadcrumb: PCF Dev Documentation
title: Using PCF Dev
owner: PCF Dev
---

This topic describes how to use PCF Dev to target instances, push an application, and use marketplace services such as Redis, RabbitMQ, and MySQL. 

## <a id="pcf-dev"></a>Target Your PCF Dev Instance

After installing PCF Dev, follow these steps to target your PCF Dev instance:

1. In a terminal window, run `cf api api.local.pcfdev.io --skip-ssl-validation`

1. When prompted, enter your user email and password.

	<pre class='terminal'>
	$ cf api api.local.pcfdev.io --skip-ssl-validation
	
	$ cf login

	Email: admin
	Password: admin
	</pre>

The terminal displays your API system domain when you run `vagrant up`. In most cases, your API system domain is `api.local.pcfdev.io`, but it may differ slightly depending on your host system configuration.

## <a id="push"></a>Push an App 

Follow the procedure below to push an app to your PCF Dev instance.

1. Navigate to your app directory.

1. Run `cf push APP-NAME`. Replace "APP-NAME" with a name of your choice.
  
For more information about pushing apps to your deployment, see the [Deploy an Application](../pivotalcf/devguide/deploy-apps/deploy-app.html) topic.

For more information about using the cf CLI, see the [Getting Started with the cf CLI](../pivotalcf/cf-cli/getting-started.html) topic.

## <a id="marketplace"></a>Marketplace Services 

PCF Dev supports marketplace services, giving developers access to Redis, RabbitMQ, and MySQL.

In order to view the list of available services, run `cf marketplace` in a terminal window. 

<pre class='terminal'>
$ cf marketplace
Getting services from marketplace in org pcfdev-org / space pcfdev-space as admin...
OK

service      plans        description
p-mysql      512mb, 1gb   MySQL databases on demand
p-rabbitmq   standard     RabbitMQ is a robust and scalable high-performance multi-protocol messaging broker.
p-redis      shared-vm    Redis service to provide a key-value store

</pre>

For more information about using marketplace services, see the [Managing Service Instances with the CLI](../pivotalcf/devguide/services/managing-services.html) topic.