---
breadcrumb: PCF Dev Documentation
title: Using PCF Dev
owner: PCF Dev
---

This topic describes how to use PCF Dev to target instances, push an application, and list available marketplace services.

<p class="note"><strong>Note</strong>: To use your PCF Dev instance, you must be running the PCF Dev VM. In a terminal window, run <code>cf dev start</code> to boot the VM.</p>

## <a id="pcf-dev"></a>Target Your PCF Dev Instance

After starting PCF Dev, target it using the cf CLI. When prompted, enter `user` for the email and `pass` for the password:

<pre class='terminal'>
$ cf login -a https://api.local.pcfdev.io --skip-ssl-validation

Email: user
Password: pass
</pre>

The terminal displays your API system domain when you run `cf dev start`. In most cases, your API system domain is `api.local.pcfdev.io`, but it may differ slightly depending on your host system configuration.

## <a id="push"></a>Push an App

Follow the procedure below to push an app to your PCF Dev instance.

1. Navigate to your app directory.

1. Run `cf push APP-NAME`. Replace "APP-NAME" with a name of your choice.

For more information about pushing apps to your deployment, see the [Deploy an Application](http://docs.pivotal.io/pivotalcf/devguide/deploy-apps/deploy-app.html) topic.

For more information about using the cf CLI, see the [Getting Started with the cf CLI](http://docs.pivotal.io/pivotalcf/cf-cli/getting-started.html) topic.

## <a id="marketplace"></a>List Marketplace Services

PCF Dev supports marketplace services, giving developers access to Redis, RabbitMQ, and MySQL.

In order to view the list of available services, run `cf marketplace` in a terminal window.

<pre class='terminal'>
$ cf marketplace
Getting services from marketplace in org pcfdev-org / space pcfdev-space as admin...
OK

service      plans        description
p-mysql      512mb, 1gb   MySQL databases on demand
p-rabbitmq   standard     RabbitMQ is a robust and scalable high-performance multi-protocol messaging broker.
p-redis      shared-vm    Redis service to provide a key-value store

</pre>

For more information about using marketplace services, see the [Using Services in PCF Dev](dev-services.html) topic.
